<template>
  <div class="cities">
    <div
      v-for="(city, index) in this.loadedCities"
      :key="index"
      class="cities__item"
    >
      <city v-bind:city="city" v-bind:isEdit="isEdit"></city>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import City from '../components/City.vue';

export default {
  components: {
    City
  },
  name: 'add-city',
  props: ['isEdit'],
  computed: {
    ...mapGetters(['cities']),
    loadedCities() {
      return this.cities;
    }
  }
};
</script>

<style lang="scss" scoped>
.no-cities {
  position: absolute;
  min-height: 100vh;
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #31363d;

  button {
    margin-top: 16px;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 500ms ease all;

    &:hover {
      outline: none;
      transform: scale(0.98);
    }
  }
}

.cities {
  display: grid;
  padding-top: 81px;
  background-color: #31363d;
  width: 100%;
  min-height: 100vh;
  grid-auto-rows: 250px;
  @media (min-width: 400px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
</style>
