<template>
  <div class="main">
    <div v-if="this.loading" class="loading">
      <span></span>
    </div>
    <div
      v-else
      class="weather"
      v-bind:class="{
        day: this.sunPosition === 'isDay',
        night: this.sunPosition === 'isNight'
      }"
    >
      <div class="weather-wrap">
        <current-weather
          :currentWeather="currentWeatherInCity"
        ></current-weather>
        <hourly-weather :forecast="forecastWeatherInCity"></hourly-weather>
        <weekly-forecast :forecast="forecastWeatherInCity"></weekly-forecast>
        <additional-info
          :currentWeather="currentWeatherInCity"
        ></additional-info>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations } from 'vuex';
import AdditionalInfo from '../components/AdditionalInfo.vue';
import CurrentWeather from '../components/CurrentWeather.vue';
import HourlyWeather from '../components/HourlyWeather.vue';
import WeeklyForecast from '../components/WeeklyForecast.vue';

export default {
  name: 'weather-in-city',
  components: {
    CurrentWeather,
    HourlyWeather,
    WeeklyForecast,
    AdditionalInfo
  },
  beforeDestroy() {
    this.mutateSunPosition(null);
  },
  data: () => {
    return {
      loading: true
    };
  },
  async mounted() {
    const name = this.$route.params.cityName;
    await this.fetchWeatherInCity(name);
    this.getCurrentTime();
    this.loading = false;
  },
  methods: {
    ...mapActions(['fetchWeatherInCity', 'actionCheckSunPosition']),
    ...mapMutations(['mutateSunPosition']),
    getCurrentTime() {
      this.actionCheckSunPosition();
      this.sunPosition = this.$store.getters.sunPosition;
    }
  },
  computed: {
    forecastWeatherInCity() {
      return this.$store.getters.selectedCity;
    },
    currentWeatherInCity() {
      const name = this.$route.params.cityName;
      const cityData = this.$store.getters.getCityByName(name);
      return cityData.currentWeather;
    }
  }
};
</script>

<style lang="scss" scoped>


.weather {
  transition: 500ms ease;
  overflow: scroll;
  width: 100%;
  height: 100%;

  .weather-wrap {
    overflow: hidden;
    max-width: 1024px;
    margin: 0 auto;
  }
}
</style>
