<template>
  <div class="additional-info container">
    <div class="sunrise">
      <span class="title">Sunrise</span>
      <span class="data">{{
        new Date(this.currentWeather.sys.sunrise * 1000).toLocaleString(
          'ru-ru',
          {
            timeStyle: 'short'
          }
        )
      }}</span>
    </div>
    <div class="sunset">
      <span class="title">Sunset</span>
      <span class="data">{{
        new Date(this.currentWeather.sys.sunset * 1000).toLocaleString(
          'ru-ru',
          {
            timeStyle: 'short'
          }
        )
      }}</span>
    </div>
    <div class="humidity">
      <span class="title">Humidity</span>
      <span class="data">{{ this.currentWeather.main.humidity }}%</span>
    </div>
    <div class="cloudness">
      <span class="title">Cloudness</span>
      <span class="data">{{ this.currentWeather.clouds.all }}%</span>
    </div>
    <div class="wind">
      <span class="title">Wind</span>
      <span class="data"
        >{{ Math.round(this.currentWeather.wind.speed) }} mps</span
      >
    </div>
    <div class="pressure">
      <span class="title">Pressure</span>
      <span class="data">{{ this.currentWeather.main.pressure }} hPa</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'additional-info',
  props: ['currentWeather']
};
</script>

<style lang="scss" scoped>
.additional-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px 20px 0 20px;
  color: #fff;

  & > div {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;

    .title {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .data {
      font-weight: 600;
    }
  }
}
</style>
