<template>
  <div @click="goToCityWeatherPage" class="city">
    <i
      v-if="this.isEdit"
      @click.stop="onClickDeleteCity"
      class="far fa-trash-alt edit"
    ></i>
    <span class="city__name">{{ this.city.city }}</span>
    <div class="city__weather weather">
      <span class="weather__temp"
        >{{ Math.round(this.city.currentWeather.main.temp) }}&deg;</span
      >
      <img
        class="weather__img"
        :src="
          require(`../../public/conditions/${this.city.currentWeather.weather[0].icon}.svg`)
        "
      />
    </div>
    <div class="video">
      <video
        :src="
          require(`../../public/videos/${this.city.currentWeather.weather[0].icon}.mp4`)
        "
        class="video__file"
        autoplay
        muted
        loop
      ></video>
      <div class="video__bg-overlay"></div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'city',
  props: ['city', 'isEdit'],
  methods: {
    ...mapActions(['deleteCityFromBase']),
    onClickDeleteCity() {
      this.deleteCityFromBase(this.city);
    },
    goToCityWeatherPage() {
      this.$router.push({
        name: 'WeatherInCity',
        params: { cityName: this.city.city }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.city {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  flex-basis: 50%;
  min-height: 250px;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

  .edit {
    border-radius: 0 15px 0 0;
    border: 10px solid rgb(77, 77, 77);
    background-color: rgb(77, 77, 77);
    z-index: 1;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;

    &:hover {
      color: rgb(210, 70, 70);
    }
  }

  &__name {
    z-index: 1;
    text-transform: capitalize;
    display: block;
    font-size: 25px;
    font-weight: 600;
  }

  &__weather {
    display: flex;
    z-index: 1;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
  }

  .weather__temp {
    font-size: 35px;
    margin-right: 8px;
  }

  .weather__img {
    height: 20px;
    width: auto;
  }

  .video {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__file {
      height: 100%;
      @media (min-width: 900px) {
        height: auto;
        width: 100%;
      }
    }

    &__bg-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
</style>
