<template>
  <div class="daily-forecast">
    <div>
      <span>
        {{
          new Date(this.day.dt * 1000).toLocaleString('en-en', {
            weekday: 'long'
          })
        }}
      </span>
    </div>
    <div class="condition">
      <img
        :src="
          require(`../../public/conditions/${this.day.weather[0].icon}.svg`)
        "
        alt=""
      />
    </div>
    <div class="weather">
      <div class="temp-max">
        <span class="hight"> {{ Math.round(this.day.temp.max) }}&deg; </span>
      </div>
      <div class="temp-min">
        <span class="low"> {{ Math.round(this.day.temp.min) }}&deg; </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'daily-forecast',
  props: ['day']
};
</script>

<style lang="scss" scoped>
.daily-forecast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;

  div {
    flex: 1;
  }

  .condition {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: auto;
    }
  }

  .weather {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

    .temp-max,
    .temp-min {
      max-width: 50px;
      text-align: end;

      .low,
      .hight {
        font-weight: 600;
      }
    }
  }
}
</style>
