<template>
  <div class="hour">
    <span class="weather-time"
      >{{
        new Date(this.time.dt * 1000).toLocaleString('ru-ru', {
          hour: 'numeric'
        })
      }}:00</span
    >
    <span class="weather-image">
      <img
        :src="
          require(`../../public/conditions/${this.time.weather[0].icon}.svg`)
        "
        alt=""
      />
    </span>
    <span class="weather-temperature">
      {{ Math.round(this.time.temp) }}&deg;
    </span>
  </div>
</template>

<script>
export default {
  name: 'hourly-temperature',
  props: ['time']
};
</script>

<style lang="scss" scoped>
.hour {
  color: #fff;
  display: flex;
  flex-direction: column;
  min-width: 45px;
  align-items: center;
}

img {
  width: auto;
  height: 22px;
  display: block;
}

span {
  display: block;
}

.weather-time {
  font-weight: 600;
  margin-bottom: 12px;
}

.weather-image {
  margin-bottom: 12px;
}

.weather-temperature {
  font-weight: 500;
}
</style>
