<template>
  <div class="hourly-weather">
    <div class="container">
      <div
        v-for="(time, index) in this.filteredList"
        :key="index"
        class="hourly-temp"
      >
        <hourly-temperature :time="time"></hourly-temperature>
      </div>
    </div>
  </div>
</template>
<script>
import HourlyTemperature from '../components/HourlyTemperature.vue';

export default {
  name: 'hourly-weather',
  components: {
    HourlyTemperature
  },
  props: ['forecast'],
  computed: {
    filteredList() {
      return this.forecast.hourly.slice(0, 23);
    }
  }
};
</script>

<style lang="scss" scoped>
.hourly-weather {
  padding: 30px 0 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);

  .container {
    display: flex;
    max-width: 100vw;
    overflow: auto;
    padding: 0 0 10px 0;
    margin: 0 20px;
    gap: 5px;
  }
}
</style>
