<template>
  <div @click="closeModal" ref="modal" class="modal">
    <div ref="modal-wrap" class="modal-wrap">
      <label for="city-name">Enter Location:</label>
      <input
        v-model="city"
        id="city-name"
        type="text"
        placeholder="Search By City Name"
      />
      <button @click="onClickAdd">Add</button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'modal-search',
  data: () => {
    return {
      city: null
    };
  },
  methods: {
    ...mapActions(['addCity']),
    closeModal(event) {
      if (event.target === this.$refs.modal) {
        this.$emit('close-modal');
      }
    },
    async onClickAdd() {
      if (!this.city) {
        alert('City can not be empty');
        return;
      }
      if (this.isExistCity) {
        alert(`City ${this.city} already exists in list`);
        return;
      }
      this.addCity(this.city);
      this.$emit('close-modal');
    }
  },
  computed: {
    ...mapGetters(['getCityByName']),
    isExistCity() {
      return this.getCityByName(this.city);
    }
  }
};
</script>

<style lang="scss" scoped>
.modal {
  z-index: 101;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  label {
    color: #fff;
  }

  .modal-wrap {
    max-width: 500px;
    border-radius: 8px;
    width: 80%;
    padding: 20px;
    background-color: #31363d;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);

    input {
      color: #fff;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #fff;
      padding: 6px 4px;
      margin: 10px 0 20px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: #222325;
      color: #fff;
      padding: 6px 20px;
      border-radius: 8px;
      border: none;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }
}
</style>
