<template>
  <div>
    <header
      class="container"
      v-bind:class="{
        container__navigation: this.addCityActive,
        day: this.sunPosition === 'isDay',
        night: this.sunPosition === 'isNight'
      }"
    >
      <nav v-if="this.addCityActive" class="nav">
        <span @click.stop="goToMain" class="nav__title">
          Weather App
        </span>
        <div class="nav__control-buttons">
          <i @click="onClickEdit" class="far fa-edit" ref="editButton"></i>
          <i @click="fetchWeatherInCities" class="fas fa-sync"></i>
          <i @click="onClickAddCity" class="fas fa-plus"></i>
        </div>
      </nav>
      <nav v-else class="nav">
        <router-link class="router-link" :to="{ name: 'AddCity' }">
          <i class="fas fa-plus"></i>
        </router-link>
        <span>
          {{ new Date().toLocaleString('en-us', { weekday: 'short' }) }}
          {{ new Date().toLocaleString('en-us', { month: 'short' }) }}
          {{ new Date().toLocaleString('en-us', { day: '2-digit' }) }}
        </span>
        <span>&deg; C</span>
      </nav>
    </header>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'navigation',
  props: ['addCityActive'],
  methods: {
    ...mapActions(['fetchWeatherInCities']),
    onClickAddCity() {
      this.$emit('open-add-city');
    },
    onClickEdit() {
      this.$emit('change-edit-mode');
      this.$refs.editButton.classList.toggle('edit-active');
    },
    goToMain() {
      if (this.$route.name !== 'AddCity') {
        this.$router.push({ name: 'AddCity' });
      } else {
        this.fetchWeatherInCities();
      }
    }
  },
  computed: {
    sunPosition() {
      return this.$store.getters.sunPosition;
    }
  }
};
</script>

<style lang="scss" scoped>
.container__navigation {
  background-color: #313640;
}

.container {
  z-index: 99;
  position: fixed;
  max-width: 1024px;
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  .nav__control-buttons {
    i {
      cursor: pointer;
    }
  }
}

nav {
  display: flex;
  color: #fff;
  padding: 30px 0;
  justify-content: space-between;

  i {
    color: #fff;
  }

  .nav__title {
    cursor: pointer;
  }

  .nav__control-buttons {
    font-size: 20px;
    display: flex;
    gap: 15px;

    .edit-active {
      color: rgb(210, 70, 70);
    }
  }
}
</style>
