<template>
  <div class="weekly-forecast">
    <div class="container">
      <div v-for="(day, index) in this.filteredList" :key="index" class="daily">
        <daily-forecast :day="day"></daily-forecast>
      </div>
    </div>
  </div>
</template>

<script>
import DailyForecast from './DailyForecast.vue';
export default {
  components: { DailyForecast },
  name: 'weekly-forecast',
  props: ['forecast'],
  computed: {
    filteredList() {
      return this.forecast.daily.slice(1, 8);
    }
  }
};
</script>

<style lang="scss" scoped>
.weekly-forecast {
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);

  .daily:not(:last-child) {
    margin-bottom: 24px;
  }
}
</style>
