<template>
  <div class="main">
    <div v-if="isLoadind" class="loading">
      <span></span>
    </div>
    <div v-else class="app">
      <modal-search
        v-if="isModalSearchOpen"
        v-on:close-modal="onClosedModal"
      ></modal-search>
      <navigation
        v-on:open-add-city="toggleSearchModal"
        v-on:change-edit-mode="toogleEditMode"
        v-bind:addCityActive="addCityActive"
      ></navigation>
      <router-view
        v-bind:isEdit="isEdit"
      ></router-view>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Navigation from './components/Navigation.vue';
import ModalSearch from './components/ModalSearch.vue';

export default {
  name: 'App',
  components: {
    Navigation,
    ModalSearch
  },
  data: () => {
    return {
      isModalSearchOpen: false,
      isEdit: false,
    };
  },
  async created() {
    await this.fetchWeatherInCities();
    this.checkRoute();
  },
  methods: {
    ...mapActions(['fetchWeatherInCities']),
    toggleSearchModal() {
      this.isModalSearchOpen = !this.isModalSearchOpen;
    },
    toogleEditMode() {
      this.isEdit = !this.isEdit;
    },
    onClosedModal() {
      this.isModalSearchOpen = false;
    },
    checkRoute() {
      this.addCityActive = this.$route.name === 'AddCity';
    }
  },
  watch: {
    $route() {
      this.checkRoute();
    }
  },
  computed: {
    ...mapGetters(['isLoadingAppPage']),
    isLoadind() {
      return this.isLoadingAppPage
    }
  }
};
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgba(211, 211, 211, 0.5);
  }
}

.main {
  max-width: 1024px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  .container {
    padding: 0 20px;
  }
}

.day {
  transition: 500ms ease all;
  background-color: rgb(59, 150, 249);
}

.night {
  transition: 500ms ease all;
  background-color: rgb(20, 42, 95);
}

.loading {
  @keyframes spin {
    to {
      transform: rotateZ(360deg);
    }
  }

  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;

  span {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border: 2px solid transparent;
    border-top-color: #142a5f;
    border-radius: 50%;
    animation: spin ease 1000ms infinite;
  }
}
</style>
